# Lab Module 11: Programmable Objects (PL/pgSQL)

(Run the below cell first, to ensure connectivity)

In [ ]:
%load_ext sql

%sql postgresql://admin:password@postgres:5432/postgres

**NOTE**: This lab is going to be a little different. We won't get much feedback because of how Jupyter runs the queries, and what the database actually does. So, for the first few (until we start writing procedures and functions), you will not get any real information back from the database. Just validate your syntax with the lab solutions. Once we get to functions and procedures, you have all the tools you need to test the validity of your functions/procedures. Don't forget if you modify the return type of a function, you must drop it before you can re-create it.

## Challenge 1: The Anonymous Block
- **Context**: Before creating permanent database objects, we often test logic using "Anonymous Code Blocks". 
- **Task**: Write a DO block using PL/pgSQL. Inside the block, raise a notice message that says 'Starting System Audit'.

In [ ]:
%%sql
-- Write your solution here

## Challenge 2: Variables and Arithmetic
- **Context**: We need to calculate the potential volume of a package for a theoretical product before inserting it into the database. 
- **Task**: Write a DO block. Declare three integer variables: v_length (set to 10), v_width (set to 5), and v_height (set to 2). Declare a variable v_volume (integer). Calculate the volume and raise a notice with the result.

In [ ]:
%%sql
-- Write your solution here

## Challenge 3: Conditional Logic (IF/ELSE)
- **Context**: The logistics team classifies freight costs as 'High' or 'Low' for auditing purposes. 
- **Task**: Write a DO block. Declare a variable v_freight with a value of 55.00. Use an IF-ELSE structure: if v_freight is greater than 50, print 'High Cost'. Otherwise, print 'Low Cost'.

In [ ]:
%%sql
-- Write your solution here

## Challenge 4: SELECT INTO (Single Value)
- **Context**: You need to fetch data from the database and store it in a variable for processing. 
- **Task**: Write a DO block. Declare a variable v_city (varchar). Select the city of the customer with ID '00012a2ce6f8dcda20d059ce98491703' into this variable from the customers table. Print the city name.

In [ ]:
%%sql
-- Write your solution here

## Challenge 5: Combining Logic and Data
- **Context**: We want to label the most expensive order item found in the system. 
- **Task**: Write a DO block. Find the maximum price from the order_items table and store it in a variable. If the max price is over 5000, print 'Flag: Ultra High Value'. Otherwise, print 'Normal Range'.

In [ ]:
%%sql
-- Write your solution here

## Challenge 6: Creating a Scalar Function
- **Context**: Analysts frequently need to calculate product volume (Length × Width × Height) in reports. Let's standardize this. 
- **Task**: Create a function named calc_product_volume. It should accept three integers (l, w, h) and return an integer representing the volume.

In [ ]:
%%sql
-- Write your solution here

## Challenge 7: Applying Functions in Queries
- **Context**: Now that the logic is centralized, apply it to the products table. 
- **Task**: Write a query that selects product_id and uses your calc_product_volume function to calculate a column named vol_cm3. Order by vol_cm3 descending and limit to 5.

In [ ]:
%%sql
-- Write your solution here

## Challenge 8: Function with Text Processing
- **Context**: We need a standardized format for seller locations in reports: "City (State)". 
- **Task**: Create a function named format_location that accepts two arguments: city (varchar) and state (varchar). It should return a string in the format: City (State). Example: format_location('Sao Paulo', 'SP') returns 'Sao Paulo (SP)'.

In [ ]:
%%sql
-- Write your solution here

## Challenge 9: Function with Internal Logic
- **Context**: We need to classify shipping speeds based on the difference between purchase and carrier delivery. 
- **Task**: Create a function shipping_speed_rating that accepts two timestamps: purchased_at and delivered_carrier_at.
    - If the difference is less than 2 days, return 'Fast'.
    - Else, return 'Standard'. (Hint: You can subtract timestamps to get an interval).

In [ ]:
%%sql
-- Write your solution here

## Challenge 10: Set-Returning Functions
- **Context**: Sometimes a function needs to return multiple rows, acting like a parameterized view. 
- **Task**: Create a function named get_orders_by_status that accepts a status_name (varchar). It should return a table containing order_id and order_purchase_timestamp for all orders matching that status.

In [ ]:
%%sql
-- Write your solution here

## Challenge 12: Executing a Procedure
- **Context**: We found a data entry error for product '3aa071139cae691eb4f96c0c51346795'. 
- **Task**: Use the CALL command to execute your update_product_weight procedure. Set the weight of product '3aa071139cae691eb4f96c0c51346795' to 1500.

In [ ]:
%%sql
-- Write your solution here
CALL update_product_weight('3aa071139cae691eb4f96c0c51346795', 1500);

## Challenge 13: Procedure with Variable Assignment
- **Context**: Create a procedure that inserts a new seller, but automatically assigns them to the 'SP' state if no state is provided (NULL). 
- **Task**: Create a procedure add_seller_checked. Accepts s_id (varchar), s_zip (varchar), s_city (varchar), and s_state (varchar). Inside the procedure, if s_state IS NULL, set the variable to 'SP'. Then perform the INSERT into sellers.

In [ ]:
%%sql
-- Write your solution here

## Challenge 14: Procedure with "Safety Check"
- **Context**: We should only delete orders if they are 'canceled'. Deleting other orders violates audit policy. 
- **Task**: Create a procedure safe_delete_order. Accepts target_order_id. First, check the status of the order. If the status is NOT 'canceled', raise an exception/notice and do nothing. If it IS 'canceled', DELETE it from the orders table.

In [ ]:
%%sql
-- Write your solution here

## Challenge 15: Upsert Procedure (Insert or Update)
- **Context**: We want a procedure that adds a product category. If the product ID already exists, update the category; otherwise, insert the product. (Assume simplified columns for this exercise: ID and Category). 
- **Task**: Create a procedure upsert_product_category. Accepts p_id and p_cat. Check if p_id exists in products. If yes, UPDATE the product_category_name. If no, INSERT a new row (you can use NULL for dimensions).

In [ ]:
%%sql
-- Write your solution here