# Lab Module: Chapter 4 - Data Manipulation Language (DML)

Welcome to Chapter 4's lab module. Before starting this lab, ensure that you have ran the 00_Start_Here.ipynb notebook successfully. It creates several tables with Kaggle's Olist dataset that we will be using within this lab. 

To know the schema of the tables referenced in this lab, please refer to the code in 00_Start_Here.ipynb. Each table's create statement DDL is there for your review saved as the variable `DDL_STATEMENTS`. Do not worry about any items that you do not know yet, I promise we are not going to require you to know them in this lab. The full contents will make more sense in later chapters.

In [ ]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%config SqlMagic.displaycon = False

%sql postgresql://admin:password@postgres:5432/postgres

## Challenge 1: The New Recruit
- **Context**: A new seller has joined the Olist platform and needs to be added to the database.
- **Task**: Write an `INSERT` statement to add a new seller with ID `'s_999'` located in `'Rio de Janeiro'`, `'RJ'`, with zip code prefix `'22000'`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify your solution.
SELECT *
FROM sellers
WHERE seller_id = 's_999';

---

## Challenge 2: Correction Request
- **Context**: The seller we just added (`s_999`) called support. They actually operate out of `'Sao Paulo'`, `'SP'`, not Rio. 
- **Task**: Write an `UPDATE` statement to change the city and state for this specific seller.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify your solution. You should see your changes from this query.
SELECT *
FROM sellers
WHERE seller_id = 's_999';

---

## Challenge 3: Change of Heart
- **Context**: The new seller decided the platform fees were too high and cancelled their account immediately.
- **Task**: Write a `DELETE` statement to remove the seller with ID `s_999` from the table.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify your solution, this query should now return no results.
SELECT *
FROM sellers
WHERE seller_id = 's_999';

---

## Switching Engines
The remainder of this lab will be working on NYC Taxi Data that was already loaded for you into DuckDB. Run the below cell to connect to DucKDB to get started.

The NYC Taxi Yellow Dataset schema can be found [here](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf). The table name we will be working with is `taxi_trips`.

In [ ]:
%sql duckdb:////home/jovyan/data/analytics.duckdb

## Challenge 4: High Value Fares
- **Context**: The NYC Taxi commission wants to audit trips with unusually high fares to check for meter errors.
- **Task**: Write a query to select the `tpep_pickup_datetime` and `total_amount` columns for all trips where the `total_amount` is greater than $200.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

Verification, you should only see rows where `total_amount` is greater than $200.

---

## Challenge 5: The Longest Haul
- **Context**: We are looking for the longest taxi trips by distance to analyze driver fatigue.
- **Task**: Select the `trip_distance` and `total_amount` columns. Order the results by `trip_distance` in descending order and limit the results to the top 10 only.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

Verification, do the results make sense to you based on the context? Is the largest `trip_distance` listed as the first row?

---

## Challenge 6: Payment Methods Analysis
- **Context**: The finance team wants to know the distribution of payment methods used by passengers.
- **Task**: Write a query to count the number of trips for each `payment_type`. You should select the `payment_type` column as well as perform a `COUNT(*)`, aliased by whatever name you choose. Group the results by `payment_type`. (We haven't covered `COUNT` yet, so it is provided in the Hint below).

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

Hint:
```sql
SELECT payment_type, COUNT(*) AS trip_count
...
...
```

---

## Challenge 7: Filtering Aggregates
- **Context**: We want to analyze group travel behavior, but only for group sizes that occur frequently.
- **Task**: Calculate the average `total_amount` for each `passenger_count`. Only return groups that have more than 100 trips recorded. (We haven't covered `AVG` yet, so its provided in the hint below).

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

Hint:
```sql
SELECT ..., AVG(...) AS ...
FROM ...
GROUP BY ...
HAVING COUNT(*) > 100;
```

The results may seem odd to you, but this is a great lesson in real-world data. It's often not 100% correct, containing various errors. This helps you understand first hand why proper data cleaning and quality is always paramount.