# Lab Module: Chapter 10 - Views

We will be utilizing the Olist E-COmmerce dataset for the first set of questions. This dataset is created in the `00_Start_Here.ipynb` notebook, that should be run before attempting these challenges. The Python code in that notebook describes each of the tables, and their relationships. For schema, please review the create table statements in that notebook.

(Run the cell below to ensure connectivity)

In [ ]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%config SqlMagic.displaycon = False

%sql postgresql://admin:password@postgres:5432/postgres

## Challenge 1: Simplifying Product Reporting
- **Context**: The Logistics team frequently needs to see which categories are being sold without joining multiple tables every time.
- **Task**: Create a vew named `view_order_product_details` that joins `order_items` and `products` to show the `order_id`, `product_id`, and `product_category_name`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify your results. You should see your view, under the table_name column.
SELECT table_schema, table_name, view_definition
FROM information_schema.views
WHERE table_schema NOT IN ('information_schema', 'pg_catalog');

## Challenge 2: Schema Cleanup and Maintenance
- **Context**: Following a Migration to a new reporting tool, the temporary logistics view `view_order_product_details` is no longer needed and should be removed to keep the schema clean.
- **Task**: Write a query to permanently remove the `view_order_product_details`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify your view has been removed
SELECT table_schema, table_name, view_definition
FROM information_schema.views
WHERE table_schema NOT IN ('information_schema', 'pg_catalog');

## Switching Engines
The remainder of this lab will be working on NYC Taxi Data that was already loaded for you into DuckDB. Run the below cell to connect to DucKDB to get started.

The NYC Taxi Yellow Dataset schema can be found [here](https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf). The table name we will be working with is `taxi_trips`.

In [ ]:
%sql duckdb:////home/jovyan/data/analytics.duckdb

## Challenge 3: Encapsulating High-Volume Analytics
- **Context**: The Finance department requires a standard "Daily Summary" of taxi operations that calculates total revenue and average trip distance per day.
- **Task**: Create a view named `daily_taxi_summary` that aggregates `total_amount` (sum) and `trip_distance` (average) grouped by the date of `tpep_pickup_datetime`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify your view has been created
SELECT table_schema, table_name, view_definition
FROM information_schema.views
WHERE table_schema NOT IN ('information_schema', 'pg_catalog');

## Challenge 4: Modifying View Definitions (OR REPLACE)
- **Context**: The Data Privacy Officer has requested that the `daily_taxi_summary` view be updated to exclude any records where the `passenger_count` is zero to ensure data quality.
- **Task**: Use the `OR REPLACE` syntax to update the existing `daily_taxi_summary` view to include this filter.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Verify the updated view is not broken
SELECT *
FROM daily_taxi_summary
LIMIT 5;