# Lab Module: Chapter 7 - JOIN Queries

We will be utilizing the Olist E-COmmerce dataset. This dataset is created in the `00_Start_Here.ipynb` notebook, that should be run before attempting these challenges. The Python code in that notebook describes each of the tables, and their relationships. For schema, please review the create table statements in that notebook.

(Run the cell below to ensure connectivity).

In [ ]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%config SqlMagic.displaycon = False

%sql postgresql://admin:password@postgres:5432/postgres

## Challenge 1: The Basic Connection
- **Context**: The logistics team wants to verify the location of every order placed. They need to see the `order_id` alongside the `customer_state`.
- **Task**: Write a query that joins the `orders` table and `customers` table. Return `order_id` and` customer_state`. Only return rows where there is a match in both tables. Order the results by `customer_state`, then `order_id` descending, and Limit the results to 5 rows.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

|	|customer_state|	order_id|
|:---|:---|:---|
|0|	AC|	feec317d7127a4dc69cfb507f08c8759|
|1|	AC|	feeb572a755207d889d166ca90221c84|
|2|	AC|	f7e9d1102c74fbea13db18cf2208fe3f|
|3|	AC|	f5ac6a806078f4dfd6e72e601f8aa3ba|
|4|	AC|	f53fee7428c6bc090f954df111b6e0f0|

## Challenge 2: Linking Revenue to Categories
- **Context**: Management wants to know which product categories generate revenue. We need to link sales to their product definitions.
- **Task**: Join the `order_items` table and `products` table. Select the `product_category_name` and `price` of the item. Filter out any rows where the `product_category_name` is `NULL`. Order the results by `product_category_name` descending and limit the results to 5.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

|	|price|	product_category_name|
|:---|:---|:---|
|0|	78.00|	utilidades_domesticas|
|1| 60.60|	utilidades_domesticas|
|2|	78.00|	utilidades_domesticas|
|3|	21.90|	utilidades_domesticas|
|4|	39.90|	utilidades_domesticas|

## Challenge 3: High Value Sales in Specific Regions
- **Context**: The regional manager of "SP" (Sao Paulo) wants a report on high-value individual items sold to customers in their state.
- **Task**: Join the `customers`, `orders`, and `order_items` tables. Find items sold to customers in `customer_state = 'SP'` where the individual item `price` is greater than 200. Select `order_id` and `price`. Order the results by `order_id` descending and limit the results to 5.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

Hint: Since we have not touched on multiple joins. I have provided the boilerplate below. Note that you can have multiple joins in a single query, as long as each join is tied to one other table that is already part of that result. For instance, "FROM A" can be joined to table B, and table C can be joined to table B or table A, depending on the contents of the table and if there is a unique shared key in this case.

```sql
SELECT ......., .......
FROM ...... AS .....
INNER JOIN ..... AS .....
    ON ........... = ..........
INNER JOIN ..... AS .....
    ON ........... = ..........
WHERE c.customer_state = 'SP' AND r.price > 200
ORDER BY ...... DESC
LIMIT 5;
```

The answer is:

|	|order_id|	price|
|:---|:---|:---|
|0|	ffde92ba447b33a47d1c04d203f10f41|	278.00|
|1|	ffd6f08f294bfa573e0eeb88d6afb17b|	352.00|
|2|	ffd5e80bfdaf69504efd7562a3d522dd|	584.90|
|3|	ff9a99c60b18acf7c678d38e0549ca67|	280.00|
|4|	ff85c3e4329457e83cb474799a257ccc|	899.00|

## Challenge 4: Spotting Inactive Customers
- **Context**: The Marketing team is designing a "Welcome Back" email campaign. They need to identify registered customers who have never actually placed an order.
- **Task**: Perform a `LEFT JOIN` starting with the `customers` table to the `orders` table. Filter for rows where the `order_id` is `NULL` (indicating no match was found). Count how many such customers exist.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is 99441

## Challenge 5: Sold Inventory
- **Context**: The inventory manager wants to know the number of products that have been sold.
- **Task**: Write a query using `LEFT JOIN` to count the number of items from the `products` table where `order_item_id` from the `orders` table is not null. Count the number of items that have been sold.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is 112650

## Challenge 6: Seller Audit
- **Context**: We need a list of all sellers and any items they have sold. We want to prioritize the `sellers` table as the source of truth, ensuring every seller is listed even if they have zero sales records in teh current period.
- **Task**: Use a `RIGHT JOIN` to join `order_items` (left side) with `sellers` (right side). Select `seller_id` and `order_id`. Order the results by both `seller_id` and `order_id` descending, and limit the results to 5.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

|	|seller_id|	order_id|
|:---|:---|:---|
|0|	ffff564a4f9085cd26170f4732393726|	fdb3ef83ea6f7bef7d13bdd9b38da661|
|1|	ffff564a4f9085cd26170f4732393726|	df537c849af44beef86a7ef7de12126a|
|2|	ffff564a4f9085cd26170f4732393726|	d815bd2c2bdd79e4c0e0263caa986d66|
|3|	ffff564a4f9085cd26170f4732393726|	d437ec1ece70f3e35d2695adfeb8a272|
|4|	ffff564a4f9085cd26170f4732393726|	d01c5b46e00bd214519fe9f64bbb2649|

## Challenge 7: Seller Partnerships
- **Context**: We are looking for potential seller partnerships. We want to find pairs of *different* sellers are located in the same city and state.
- **Task**: Perform a `SELF JOIN` on the `sellers` table. Return two columns: `Seller_A` and `Seller_B` (their IDs). Ensure that `Seller_A` is not the same as `Seller_B`, and join on `seller_city` and `seller_state`. Order the results by `Seller_A` and `Seller_B` descending, in that order. Limit the results to 5.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

|	|seller_a|	seller_b|
|:---|:---|:---|
|0|	ffff564a4f9085cd26170f4732393726|	fe87f472055fbcf1d7e691c00b1560dc|
|1|	ffff564a4f9085cd26170f4732393726|	fe2032dab1a61af8794248c8196565c9|
|2|	ffff564a4f9085cd26170f4732393726|	fc38b5dceee1a730fad8853453437fbd|
|3|	ffff564a4f9085cd26170f4732393726|	ea65d8b58316a6f2362f2a9e4b3e86ad|
|4|	ffff564a4f9085cd26170f4732393726|	e0eabded302882513ced4ea3eb0c7059|

## Challenge 8: The Grand Transaction View
- **Context**: For a master dashboard, we need a flat view of sales. We need to see the Order ID, the Customer's State, the Product Category, and the Seller's State for every item sold.
- **Task**: Join `customers`, `orders`, `order_items`, `products`, and `sellers` tables (in that order). Select `o.order_id` from the `orders` table, `c.customer_state` from the `customers` table, `p.product_category_name` from the `products` table, and `s.seller_state` from the `sellers` table. Order the results by `o.order_id` descending and limit the results to 5.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

|	|order_id|	customer_state|	product_category_name|	seller_state|
|:---|:---|:---|:---|:---|
|0|	fffe41c64501cc87c801fd61db3f6244|	SP|	cama_mesa_banho|	SP|
|1|	fffe18544ffabc95dfada21779c9644f|	SP|	informatica_acessorios|	SP|
|2|	fffce4705a9662cd70adb13d4a31832d|	SP|	esporte_lazer|	PR|
|3|	fffcd46ef2263f404302a634eb57f7eb|	PR|	informatica_acessorios|	SP|
|4|	fffc94f6ce00a00581880bf54a75a037|	MA|	utilidades_domesticas|	SC|