# Lab Module: Chapter 3 - Data Definition Language (DDL)

(Run the cell below to ensure connectivity).

In [ ]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%config SqlMagic.displaycon = False

%sql postgresql://admin:password@postgres:5432/de_one

---

## Challenge 1: Creating a Basic Table
- **Context**: The logistics team wants to start tracking local warehouse locations manually. They need a simple table to store warehouse names and their specific codes.
- **Task**: Write a query to create a table named `local_warehouses` with two columns:
    - `warehouse_code` (integer)
    - `warehouse_name` (varchar/text).

In [ ]:
%%sql
# WRITE YOUR SOLUTION BELOW.
CREATE TABLE local_warehouses (
    warehouse_code INT,
    warehouse_name VARCHAR(200)
);

In [ ]:
%%sql
# RUN THIS CELL TO VERIFY YOUR SOLUTION.
# You should see your table name in the table from the query.
SELECT table_name
FROM information_schema.tables
WHERE table_name = 'local_warehouses';

---

## Challenge 2: Constraints and Primary Keys
- **Context**: The marketing team is launching a new initiative and needs a dedicated table to track distinct marketing campaigns. To ensure data integrity, every campaign must have a unique ID.
- **Task**: Create a table named `marketing_campaigns`. It should have a `campaign_id` (integer) which serves as the **Primary key**, and a `campaign_name` (VARCHAR).

In [ ]:
%%sql
# WRITE YOUR SOLUTION BELOW.
CREATE TABLE marketing_campaigns (
    campaign_id INT PRIMARY KEY,
    campaign_name VARCHAR(200)
);

In [ ]:
%%sql
# RUN THIS CELL TO VERIFY YOUR SOLUTION.
# You should see your table name in the table from the query.
SELECT table_name
FROM information_schema.tables
WHERE table_name = 'marketing_campaigns';

---

## Challenge 3: Altering Tables -- Adding Columns
- **Context**: The logistics team realizes the `local_warehouses` table (created in Challenge 1) is insufficient because they forgot to include the state where the warehouse is located.
- **Task**: Write a query to alter the `local_warehouses` table to add a new column `warehouse_state` (VARCHAR). The state should be stored in two digit form (e.g., IN for Indiana, TX for Texas, etc.)

In [ ]:
%%sql
# WRITE YOUR SOLUTION BELOW.
ALTER TABLE local_warehouses
ADD warehouse_state VARCHAR(200);

In [ ]:
%%sql
# RUN THIS CELL TO VERIFY YOUR SOLUTION.
# You should see all the columns from the query below.
SELECT * FROM local_warehouses;

---

## Challenge 4: Truncating Tables
- **Context**: The `marketing_campaigns` table was populated with test data during development. Before going live, we need to clear out all the test records without deleting the table structure itself. The Primary Key needs to also be reset.
- **Task**: Remove all rows from the `marketing_campaigns` table using the most efficient DDL command for the context.

In [ ]:
%%sql
# WRITE YOUR SOLUTION BELOW.
TRUNCATE TABLE marketing_campaigns;

In [ ]:
%%sql
# RUN THIS CELL TO VERIFY YOUR SOLUTION.
# Ensure that you see the column names correctly.
SELECT * FROM marketing_campaigns;

---

## Challenge 5: Dropping Tables
- **Context**: The marketing team has abandoned the campaign project and has asked you to drop the `marketing_campaigns` table.
- **Task**: Drop the `marketing_campaigns` table.

In [ ]:
%%sql
# WRITE YOUR SOLUTION BELOW.
DROP TABLE marketing_campaigns;

In [ ]:
%%sql
# RUN THIS CELL TO VERIFY YOUR SOLUTION.
# You should not see any results from the below query.
SELECT table_name
FROM information_schema.tables
WHERE table_name = 'marketing_campaigns';

---

## Challenge 6: Dropping (more) Tables
- **Context**: The logistics team realized they already had another fully functional table for their needs. They have asked you to drop the `local_warehouses` table.
- **Task**: Drop the `local_warehouses` table.

In [ ]:
%%sql
# WRITE YOUR SOLUTION BELOW.
DROP TABLE local_warehouses;

In [ ]:
%%sql
# RUN THIS CELL TO VERIFY YOUR SOLUTION.
# You should not see any results from the below query.
SELECT table_name
FROM information_schema.tables
WHERE table_name = 'local_warehouses';

In [ ]:
---